package-lock=false
strict-ssl=false
always-auth=true
# registry=https://artifactory.insim.biz/artifactory/api/npm/nn-npm/
# @nn:registry=https://artifactory.insim.biz/artifactory/api/npm/nn-cc-webcomponents/
# @nn-design-system:registry=https://artifactory.insim.biz/artifactory/api/npm/nn-cc-webcomponents/
# @nn-seni-income-npm:registry=https://artifactory.insim.biz/artifactory/api/npm/nn-seni-income-npm/